<!-- Partial for the exterior pages footer -->
<footer class="container-fluid bg-darkgrey">
    <div class="container py-3">
        <p>A collaborative project for a Full Stack Web Development Bootcamp offered through UT Austin.<br>Copyright ©
            2021
            <a href="https://github.com/RojoRevolution" target="blank">David Rojo</a> | <a
                href="https://github.com/stephenlprice" target="blank">Stephen Price </a> | <a
                href="https://github.com/trevorsmithbanjo" target="blank">Trevor Smith</a> | <a
                href="https://github.com/richardgabaree" target="blank">Richard Gaberee</a>
            <br>
            View the project on <a href="https://github.com/RojoRevolution/p2_org_decider/tree/main"
                target="blank">GitHub</a>
        </p>
    </div>
</footer>