<footer class="container-fluid bg-darkgrey">
    <div class="container py-3">
        <p>A collaborative project for a Full Stack Web Development Bootcamp offered through UT Austin.<br>Copyright ©
            2021
            David Rojo | Stephen Price | Trevor Smith | Richard Gaberee</p>
    </div>
</footer>