
/* Add Box-sizing for everything */
html { box-sizing: border-box;  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color:#FFF3E0;
}

.viewport-height {
  height: auto;
}

  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #545454;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #545454;
  }

  a {
    color:#e5384c;
    text-decoration: none;
  }

  a:hover {
    color:#d22e41;
  }

  main {
    min-height: 450px;
  }

  footer {
    margin-top: 10rem;
  }

  footer p {
    font-size: .75rem;
    color: #808080;
  }
 
  .bg-color {
    background-color:#e5384c;
  }

  .bg-color:hover {
    background-color:#d22e41;
  }

  .bg-color-sec {
    background-color: #545454;
  }

  .bg-color-sec:hover {
    background-color: #383838;
  }

  .bg-darkgrey {
    background-color: #383838;
  }

  .bg-color-box {
    background-color: #ffffff
  }
  

/* Helper Classes */

.center-auto {
  margin: 0 auto
}

.marg-pad-0 {
  margin: 0;
  padding: 0;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.right20 {
  right: 20px;
}

.top20 {
  top: 20px;
}

.hide {
  display: none;
}

/* Exterior Pages */


.intro-margin {
  margin: 14rem 0 0;
}

.logo-home {
  width: 278px;
}

.logo-log {
  width: 125px;
}

.form-content {
  max-width: 400px;
}

.content-max {
  max-width: 1024px;
}

.full-width {
  width: 100%;
}



/* font-awesome icons */
.icon-size {
  font-size:2rem
}

.icon-size:hover {
  color:#ececec;
  cursor: pointer;
}

/* Suggestion Cards CSS */
.card-adjust {
  width: 18rem;
  display: inline-block;
}

/* dashboard */

.sidebar {
  background-color:#e5384c;
  height: 100vh;
  max-width:250px;
}

.dash-header {
  background-color: #f7eede;
}

.addBtn {
  border:none;
  background:none;
}

.add-icon {
  cursor: pointer;
  font-size:3rem;
  color:#FFF3E0;
}

.add-icon:hover {
  color:#d8cdbb;
}