<!-- This partial holds the BLOCK for all cards that can be voted on -->
<div>
    <div class="d-flex justify-content-between">
        <div>
            <h4>Voting Open For <span id="timer" style="color:#e5384c;"></span> seconds</h4>
        </div>
    </div>
    <div class="my-3">
        <!-- This include pulls in the individual Active Vote Cards -->
        <%- include('vote-cards-active'); %>
    </div>
</div>