<!-- This Partial Holds the Add Button and the Form that appears when clicked in the sidebar -->
<div class="my-4 text-center">
    <button type="button" id="addBtn" class="addBtn"><i class="fas fa-plus-circle add-icon"></i></button>
</div>
<div id="newCatDiv" class="hide">
    <form id="addNewForm">
        <div class="form-group">
            <input type="input" class="form-control py-2 my-2" id="newCategory" placeholder="Ex: Friday Team Lunch" />
            <button type="submit" class="btn btn-warning full-width ">Add New Category</button>
    </form>
</div>