<!-- Modal -->
<div class="modal fade" id="addNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Name Your Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newCategory">
                    <div class="mb-3">
                        <input type="input" class="form-control" id="cat-title" placeholder="Friday Team Lunch">
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn text-light full-width bg-color">Create New Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>