<!-- This partial was meant to show the data visualization but we did not get that far into the project -->
<section class="container-fluid my-4">
    <div class="card p-4 rounded">
        <div class="dflex d-flex justify-content-between">
            <div>
                <h4>Data Visualization Goes Here</h4>
            </div>
        </div>
    </div>
</section>