<header class="container-fluild">
    <div class="dash-header m-0 p-4">
        <div class=" d-flex justify-content-between">
            <!-- <h3 class="dflex ">Welcome to Yay or Nay</h3> -->
            <h3 class="dflex ">
                <%=title %>
            </h3>
            <div class="dflex justify-content-between"><a href="/logout"">Logout</a></div>
        </div>
    </div>
</header>