<header class="container-fluild">
    <div class="bg-light m-0 p-4">
        <div class="d-flex justify-content-between">
            <div class="dflex ">Welcome to Yay or Nay</div>
            <div class="dflex justify-content-between"><a href="/logout"">Logout</a></div>
        </div>
    </div>
</header>