<!-- Partial holds the main header in the dashboard pages -->
<header class="container-fluild">
    <div class="dash-header m-0 p-4">
        <div class=" d-flex justify-content-between">
            <h3 class="dflex ">
                <!-- Using an EJS variable, the header will change based on what is rendered in the HTML routes -->
                <%=title %>
            </h3>
            <div class="dflex justify-content-between"><a href="/logout"">Logout</a></div>
        </div>
    </div>
</header>