<div class="card m-2 card-adjust">
    <div class="card-body">
        <h5 class="card-title">This is a suggestion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up
            the bulk of the card's content.</p>
        <btn class="btn btn-secondary btn-sm">Put Up For Vote</btn>
    </div>
</div>
<div class="card m-2 card-adjust">
    <div class="card-body">
        <h5 class="card-title">This is a suggestion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up
            the bulk of the card's content.</p>
        <btn class="btn btn-secondary btn-sm">Put Up For Vote</btn>
    </div>
</div>
<div class="card m-2 card-adjust">
    <div class="card-body">
        <h5 class="card-title">This is a suggestion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up
            the bulk of the card's content.</p>
        <btn class="btn btn-secondary btn-sm">Put Up For Vote</btn>
    </div>
</div>
<div class="card m-2 card-adjust">
    <div class="card-body">
        <h5 class="card-title">This is a suggestion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up
            the bulk of the card's content.</p>
        <btn class="btn btn-secondary btn-sm">Put Up For Vote</btn>
    </div>
</div>
<div class="card m-2 card-adjust">
    <div class="card-body">
        <h5 class="card-title">This is a suggestion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up
            the bulk of the card's content.</p>
        <btn class="btn btn-secondary btn-sm">Put Up For Vote</btn>
    </div>
</div>