<section class="container-fluid my-4">
    <div class="card p-4 rounded">
        <div class="d-flex justify-content-between">
            <div>
                <h4>Add Suggestions</h4>
            </div>
            <div id="addNew">
                <div>
                    <btn id="AddNewSuggest" class="btn btn-secondary btn-sm">
                        Add New Suggestion
                    </btn>
                </div>
            </div>
        </div>
        <div id="newSuggestBlock" class="pos-relative hide">
            <div class="card p-3 content-max pos-absolute newSuggest">
                <h4>Add a Suggestion</h4>
                <button type="button" class="btn-close pos-absolute right10 top10" aria-label="Close"
                    id="suggestionClose"></button>
                <form id="suggestForm">
                    <div class="form-group">
                        <input type="input" class="form-control py-2 my-2" id="newTitle" placeholder="Suggestion Name"
                            data-attribute="<%= id %>" />
                        <textarea " class=" form-control py-2 my-2" id="newDescript"
                            placeholder="Additional Info" /></textarea>
                        <button type="submit" class="btn btn-warning full-width ">Add New Suggestion</button>
                </form>
            </div>
        </div>
    </div>
    <div id="suggestionCardBlock" class="my-3">
        <%- include('suggestion-cards'); %>
    </div>
</section>