<div id="activeCardsDiv">
    <% for(let i=0; i < ideaNameTrue.length; i++) { %>
        <div class="card m-2 card-adjust">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <!-- Vote Up Button -->
                        <button class="voteUp" data-attribute="<%= ideaIdsTrue[i]%>">
                            <img src="/images/dashboard/voteup.png" style="width:24px;">
                        </button>
                        <!-- Vote Count Display -->
                        <p id="voteCountDisplay" class="voteCount">0</p>
                    </div>
                    <div class="col-10">
                        <h5 class="card-title">
                            <%= ideaNameTrue[i]%>
                        </h5>
                        <p class="card-text">
                            <%= ideaTextTrue[i]%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</div>